@import "tailwindcss";

@theme {
  --color-brand-100: #f0e0d0;
  --color-brand-300: #e7ceb9;
  --color-brand-500: #e1be9b;
  --color-brand-700: #d69264;
  --color-brand-900: #c3592b;


  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-primary-950: #052e16;
}

input[type="text"], input[type="number"], input[type="search"], textarea, select {
  @apply border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}